
@media only screen and (max-width: 936px)  {
  .main-wrapper {
    padding: 0px 10px 10px 20px;
  }
  .home {
    .post-list-item {
      width: 50%!important;
    }
  }

}
@media only screen and (max-width: 760px)  {
  .main-wrapper {
    padding: 0px 20px 10px 20px;
    width: 100%;
  }
  .header-wrapper {
    .nav {
      .nav-right {
        .right-item {
          display: none;
        }
        .item-icon {
          display: block!important;
        }
      }
    }
  }
  .list-wrapper {
    padding: 0!important;
  }
  .home {
    .post-list-item {
      width: 100%!important;
      padding: 0!important;
    }
  }
  .classify-wrapper .post-lists ul li {
    width: 100%!important;
    padding: 15px 0!important;
  }
}
